//обнуляющий стиль
@import "nullstyle.scss";



//General\\
.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 25px;
	&__main {
		align-self: center;
	}
}

.container {
	width: 1200px;
}

.text {
	color: #AE7C78;
	font-family: Montserrat, "Arial", sans-serif;
	font-size: 16px;
	line-height: 20px;
}

.section-text {
	color: #AE7C78;
	font-family: Montserrat, "Arial", sans-serif;
	font-size: 24px;
	line-height: 29px;
}

.subtitle {
	color: #AE7C78;
	font-family: "Playfair Display", Georgia, serif;
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;
}

.title {
	color: #AE7C78;
	font-family: "Playfair Display", Georgia, serif;
	font-size: 44px;
	line-height: 59px;
	&__italic {
		font-style: italic;
	}
}

.button {
	display: inline-block;
	background: #D89999;
	&__text {color: #FFFFFF;}
}

//Main\\
.header {
	border-top: 1px solid #AE7C78;
	border-bottom: 1px solid #AE7C78;
	&__container {
		margin: 0 auto;
	}

	&__menu {
		
		position: relative;
		padding: 22px 0;
	}

	&__logo-link {
		display: block;
		position: absolute;
		left: 550px;
		bottom: 15px;
	}

	&__logo-img {
	}

	&__list {
		display: flex;
	}

	&__item {
		&--ml {
			margin-left: auto;
		}
		&--mrl-1 {
			margin: 0 100px;
		}
		&--mrl-2 {
			margin: 0 90px;
		}
	}

	&__link {
	}
}

.main {
	display: grid;
	gap: 80px;
	&__peterburg-bouquets {
		
	}
	&__benefits {
		
	}
	&__goods {
		
	}
	&__categories {
		
	}
	&__promotion {
		
	}
	&__instruction {
		
	}
	&__news {
		
	}
	&__reviews {
		
	}
	&__map {
		
	}
}


.peterburg-bouquets {
	&__container {
	}
	&__content {
	}
	&__text {
	}
	&__button {
	}
	&__photos {
	}
	&__photo {
	}
}

.benefits {
	&__container {
	}
	&__items {
	}
	&__item {
	}
	&__title {font-weight: 500;}
}
.goods {
	&__container {
	}
	&__content {
	}
	&__info {
	}
	&__title {font-weight: 500;}
	&__size {
	}

	&__price {font-weight: 500;}
	&__button {
	}
	&__picture {
	}
}

.categories {
	&__container {
	}
	&__card {
	}
	&__subtitle {
	}
	&__text {color: #FFFFFF;}
}
.promotion {
	&__container {
	}
	&__info {
	}
	&__title {letter-spacing: 0.02em;}
	&__text {color: #FFFFFF;}
	&__picture {
	}
}
.instruction {
	&__container {
	}
	&__step {
	}
	&__title {font-weight: 500;}
	&__text {
	}
}
.news {
	&__container {
	}
	&__info {
	}
	&__text {
	}
	&__socials {
	}
	&__pictures {
	}
	&__picture {
	}
}
.socials {
}
.reviews {
	&__container {
	}
	&__list {
	}
	&__item {
	}
	&__text {
	}
	&__title {font-weight: 500;}
}
.map {
	&__container {
	}
	&__map-image {
	}
	&__contacts {
	}
	&__text {font-weight: 500;}
}

.contacts {
}


.footer {
	background: #AE7C78;
	&__container {
	}
	&__logo {
	}
	&__logo-img {
	}
	&__menu {
	}
	&__item {color: #FFFFFF;}
	&__socials {
	}
}


