//обнуляющий стиль
@import "nullstyle.scss";



//General\\
@mixin pseudo {
	position: absolute;
	content: '';
	display: block;
}

@mixin benefits__item {
	@include pseudo;
	width: 82px;
	height: 52px;
	bottom: 50px;
}

@mixin instruction__step {
	@include pseudo;
	width: 100px;
	height: 50px;
	margin-left: -50px;
	left: 50%;
	bottom: 100px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 25px;
	&__main {
		align-self: center;
		margin-top: 80px;
	}
}

.container {
	width: 1200px;
}

.text {
	color: #AE7C78;
	font-family: Montserrat, "Arial", sans-serif;
	font-size: 16px;
	line-height: 20px;
}

.section-text {
	color: #AE7C78;
	font-family: Montserrat, "Arial", sans-serif;
	font-size: 24px;
	line-height: 29px;
}

.subtitle {
	color: #AE7C78;
	font-family: "Playfair Display", Georgia, serif;
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;
	text-align: center;
	letter-spacing: 0.02em;
	&--mb {
		margin-bottom: 35px;
	}
}

.title {
	color: #AE7C78;
	font-family: "Playfair Display", Georgia, serif;
	font-size: 44px;
	line-height: 59px;
	&__italic {
		font-style: italic;
	}
}

.button {
	display: inline-block;
	background: #D89999;
	width: 285px;
	height: 80px;
	border-radius: 50px;
	display: flex;
  	align-items: center;
  	justify-content: center;
	&__text {
		color: #FFFFFF;
	}
}

//Main\\
.header {
	border-top: 1px solid #AE7C78;
	border-bottom: 1px solid #AE7C78;
	&__container {
		margin: 0 auto;
	}

	&__menu {
		
		position: relative;
		padding: 22px 0;
	}

	&__logo-link {
		display: block;
		position: absolute;
		left: 550px;
		bottom: 15px;
	}

	&__logo-img {
	}

	&__list {
		display: flex;
	}

	&__item {
		&--ml {
			margin-left: auto;
		}
		&--mrl-1 {
			margin: 0 100px;
		}
		&--mrl-2 {
			margin: 0 90px;
		}
	}

	&__link {
	}
}

.main {
	display: grid;
	gap: 80px;
	&__wrapper-top {
		
	}
	&__goods {
	}
	&__categories {
		
	}
	&__promotion {
		
	}
	&__instruction {
		
	}
	&__news {
		
	}
	&__reviews {
		
	}
	&__map {
		
	}
}

.wrapper-top {
	display: grid;
	gap: 50px;
	&__peterburg-bouquets {
		
	}
	&__benefits {
		
	}
}

.peterburg-bouquets {
	&__container {
		min-height: 465px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}
	&__content {
	}
	&__text {
		margin-top: 25px;
	}
	&__button {
		margin-top: 65px;
	}
	&__photo-1 {
		align-self: end;
	}
	&__photo-2 {
		align-self: start;
	}
}

.benefits {
	&__container {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 20px;
	}
	&__item {
		position: relative;
	}
	&__item-1 {
		grid-column: 2/5;
		&::before {
			@include benefits__item;
			left: -100px;
			background: url("../img/icons/lorry.svg") no-repeat;
		}
	}
	&__item-2 {
		grid-column: 6/9;
		&::before {
			@include benefits__item;
			left: -70px;
			background: url("../img/icons/bouquet.svg") no-repeat;
		}
	}
	&__item-3 {
		grid-column: 10/13;
		&::before {
			@include benefits__item;
			left: -80px;
			background: url("../img/icons/camera.svg") no-repeat;
		}
	}
	&__title {font-weight: 500;}
}
.goods {
	&__container {
		width: 800px;
		margin: 0 auto;
		position: relative;
	}
	&__content {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
		margin-bottom: 30px;
		&::after {
			@include pseudo;
			z-index: 100;
			width: 200px;
			height: 50px;
			left: 340px;
			bottom: -70px;
			background: url("../img/icons/arrow-left.svg") no-repeat, 
							url("../img/icons/arrow-right.svg") 70px 0 no-repeat;
		}
	}
	&__info {
	}
	&__title {
		font-weight: 500;
		margin-top: 30px;
	}

	&__text {
		margin-top: 20px;
	}

	&__size {
		margin: 25px 0;
	}

	&__price {font-weight: 500;}

	&__button {
		margin-top: 65px;
	}
	&__picture {
	}
}

.categories {
	&__container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		min-height: 440px;
		gap: 20px;
	}
	&__card {
		display: block;
		border-radius: 10px;
		display: flex;
  		flex-direction: column;
  		justify-content: center;
	}
	&__card-1 {
		background: linear-gradient(0deg, rgba(174, 124, 120, 0.6), rgba(174, 124, 120, 0.6)), url(../img/wedding.jpg) no-repeat;
		background-size: cover;
		background-position: center;
	}
	&__card-2 {
		background: linear-gradient(0deg, rgba(174, 124, 120, 0.6), rgba(174, 124, 120, 0.6)), url(../img/peonies.jpg) no-repeat;
		background-size: cover;
		background-position: center;
	}
	&__card-3 {
		background: linear-gradient(0deg, rgba(174, 124, 120, 0.6), rgba(174, 124, 120, 0.6)), url(../img/choice.jpg) no-repeat;
		background-size: cover;
		background-position: center;
	}
	&__subtitle {
		color: #FFF;
	}
	&__text {
		text-align: center;
		margin-top: 8px;
		color: #FFF;
	}
}

.promotion {
	&__container {
		height: 390px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	&__info {
		padding-left: 100px;
		background: #AE7C78;
		padding-top: 40px;
	}
	&__title {
		letter-spacing: 0.02em;
		color: #FFFFFF;
	}
	&__text {
		color: #FFFFFF;
		margin-top: 25px;
		max-width: 390px;
	}
	&__picture {
	}
}
.instruction {border: 1px solid #000;
	&__container {
		min-height: 230px;
	}
	&__steps {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
		gap: 20px;
		
	}
	&__step {
		padding-top: 60px;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}
	&__title-1 {
		&::before {
			@include instruction__step;
			background: url("../img/icons/laptop.svg") center no-repeat;
		}
	}
	&__title-2 {
		&::before {
			@include instruction__step;
			background: url("../img/icons/woman.svg") center no-repeat;
		}
	}
	&__title-3 {
		&::before {
			@include instruction__step;
			background: url("../img/icons/card.svg") center no-repeat;
		}
	}
	&__title-4 {
		&::before {
			@include instruction__step;
			background: url("../img/icons/lorry.svg") center no-repeat;
		}
	}
	&__title {font-weight: 500;}
	&__text {
		text-align: center;
		margin-top: 8px;
	}
}
.news {
	&__container {
	}
	&__info {
	}
	&__text {
	}
	&__socials {
	}
	&__pictures {
	}
	&__picture {
	}
}
.socials {
}
.reviews {
	&__container {
	}
	&__list {
	}
	&__item {
	}
	&__text {
	}
	&__title {font-weight: 500;}
}
.map {
	&__container {
	}
	&__map-image {
		max-width: 1200px;
	}
	&__contacts {
	}
	&__text {font-weight: 500;}
}

.contacts {
}


.footer {
	background: #AE7C78;
	&__container {
	}
	&__logo {
	}
	&__logo-img {
	}
	&__menu {
	}
	&__item {color: #FFFFFF;}
	&__socials {
	}
}


